# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
*.ipa

# IDE & OS
.idea/
*.iml
.vscode/
Thumbs.db
Desktop.ini
